body {
  width: 1440px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: #F5F5F5;
  color: #73788C;
}

.container {
  width: 1192px;
  margin: 0 132px;
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #FFFFFF;
  padding: 15px 48px;
  background: #69B99D;
  border: none;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #69B99D;
  background: #F8F9FE;
  padding: 12px 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  width: 10%;
}
.logo img {
  width: 115px;
  height: 40px;
}

.on {
  display: flex;
}

.off {
  display: none !important;
}

.header {
  margin-top: 30px;
  margin-bottom: 65px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu {
  width: 60%;
  display: flex;
  justify-content: center;
}
.header .menu ul {
  display: flex;
  justify-content: space-around;
}
.header .menu ul li {
  list-style: none;
  position: relative;
}
.header .menu ul li:hover a, .header .menu ul li.active a {
  color: #69B99D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}
.header .menu ul li:hover a .dot, .header .menu ul li.active a .dot {
  opacity: 1;
  transform: translateY(30px);
  transition: all 0.3s ease;
}
.header .menu ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #8E8E8E;
}
.header .menu ul li a .dot {
  position: absolute;
  opacity: 0;
  color: #69B99D;
  font-size: 26px;
}
.header .menu ul li:not(:last-child) {
  margin-right: 48px;
}
.header .authorization {
  display: flex;
  width: 30%;
}
.header .authorization a {
  text-decoration: none;
}
.header .authorization .registration {
  background: transparent;
  color: #69B99D;
}

.real__estate {
  position: relative;
}
.real__estate img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 806px;
  height: 761px;
}
.real__estate .text {
  padding-top: 95px;
}
.real__estate .text h1 {
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.0025em;
  color: #1F2744;
  width: 50%;
  padding-bottom: 25px;
}
.real__estate .text p {
  line-height: 24px;
  width: 45%;
  padding-bottom: 65px;
}
.real__estate .search {
  padding-bottom: 110px;
}
.real__estate .search .items {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
}
.real__estate .search .title__item {
  padding: 12px 32px;
}
.real__estate .search .title__item a {
  text-decoration: none;
  color: #A6A6A6;
}
.real__estate .search .title__item.active {
  background: #fff;
}
.real__estate .search .item__wrap {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding: 32px;
  background: #fff;
  box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
}
.real__estate .search .item__wrap a {
  text-decoration: none;
  box-shadow: 0px 0px 65px rgba(105, 185, 157, 0.32);
}
.real__estate .search .item__wrap .item p {
  padding-left: 4px;
  color: #1F2744;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  margin-bottom: 8px;
}
.real__estate .search .item__wrap .item form {
  border: none;
}
.real__estate .search .item__wrap .item form select {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #A6A6A6;
  border: 0;
  outline: 0;
  padding: 0;
}
.real__estate .search .item__wrap:not(:last-child) {
  margin-right: 40px;
}
.real__estate .search .item__wrap:not(:last-child):not(:last-child) {
  margin-right: 40px;
}

.discover {
  padding: 120px 0;
  background: #fff;
}
.discover .title__discover {
  padding-top: 65px;
}
.discover .title__discover h2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
  padding-bottom: 16px;
}
.discover .title__discover .desc {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.discover .title__discover .desc p {
  width: 40%;
}
.discover .title__discover .desc a {
  background: transparent;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #69B99D;
}
.discover .title__discover .desc a img {
  width: 24px;
  height: 24px;
  padding-left: 8px;
}
.discover .items {
  display: flex;
  justify-content: space-between;
}
.discover .items .item {
  width: 30%;
  padding: 16px;
  border: 1px solid #DEDCDA;
}
.discover .items .item h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  color: #1F2744;
  padding-bottom: 8px;
}
.discover .items .item p {
  padding-bottom: 16px;
  color: #A6A6A6;
}
.discover .items .item .item__desc {
  display: flex;
  justify-content: space-between;
}
.discover .items .item .item__desc .price {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  color: #69B99D;
}
.discover .items .item .item__desc .square span {
  color: #1F2744;
  font-size: 18px;
  padding-bottom: 24px;
}
.discover .items .item a {
  border: 1px solid #69B99D;
  background: transparent;
  color: #69B99D;
}
.discover .items .item a:hover {
  background: #69B99D;
  box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
  color: #fff;
  transition: all 0.5s ease;
}

.our__advante {
  padding-bottom: 100px;
}
.our__advante .title {
  margin-top: 80px;
}
.our__advante .our__advante-title h2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
  width: 30%;
  padding-top: 145px;
  padding-bottom: 60px;
}
.our__advante .our__advante-title .items {
  display: flex;
  flex-wrap: wrap;
}
.our__advante .our__advante-title .items .item {
  padding: 20px;
  width: 29%;
}
.our__advante .our__advante-title .items .item h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #054457;
  padding-bottom: 16px;
}
.our__advante .our__advante-title .items .item p {
  letter-spacing: 0.5px;
  color: #73788C;
}
.our__advante .our__advante-title .items .item img {
  width: 54px;
  height: 54px;
  padding-bottom: 16px;
}

.about__us {
  background: #fff;
  padding-top: 215px;
  padding-bottom: 100px;
}
.about__us .container {
  display: flex;
}
.about__us .about__us-left {
  background: url(../img/about.png) no-repeat;
  text-align: center;
  min-width: 50%;
  position: relative;
}
.about__us .about__us-left .success {
  display: flex;
  justify-content: space-between;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 12px 32px;
}
.about__us .about__us-left .success p {
  width: 22%;
  text-align: left;
}
.about__us .about__us-left .success span {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.0025em;
  color: #054457;
}
.about__us .about__us-left .rating {
  position: absolute;
  width: 30%;
  left: 95px;
  top: -100px;
  background: #FEFEFF;
  box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
  padding: 32px;
}
.about__us .about__us-left .rating p {
  letter-spacing: 0.0025em;
  color: #A6A6A6;
}
.about__us .about__us-left .rating p span {
  font-size: 72px;
  line-height: 80px;
  letter-spacing: 0.0025em;
  color: #054457;
}
.about__us .about__us-left .rating .star__wrap img {
  width: 18px;
  height: 18px;
}
.about__us .about__us-left .rating img {
  width: 32px;
  height: 32px;
  padding-bottom: 16px;
}
.about__us .about__us-left .rating .rating__text .action {
  letter-spacing: 0.0025em;
  color: #054457;
}
.about__us .about__us-right {
  position: relative;
  width: 50%;
  padding: 50px 0 50px 50px;
}
.about__us .about__us-right .title {
  left: 50px;
}
.about__us .about__us-right h2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
  margin-top: 42px;
  margin-bottom: 16px;
}
.about__us .about__us-right p {
  margin-bottom: 50px;
  letter-spacing: 0.0025em;
}
.about__us .about__us-right .button {
  box-shadow: 24px 24px 65px rgba(81, 140, 119, 0.24);
  width: 185px;
}

.testimonial {
  background: #fff;
  padding-bottom: 120px;
}
.testimonial .desc {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 60px;
  margin-bottom: 50px;
}
.testimonial .desc h2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
}
.testimonial .desc .button {
  width: 185px;
  background: transparent;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #69B99D;
  filter: drop-shadow(0px 0px 20px rgba(105, 185, 157, 0.58));
}
.testimonial .desc .button img {
  width: 24px;
  height: 24px;
  padding-left: 8px;
}
.testimonial .testimonial__items {
  display: flex;
  justify-content: space-between;
}
.testimonial .testimonial__items .testimonial__item {
  background: #FEFEFF;
  border: 1px solid #DEDCDA;
  width: 28%;
  padding: 24px 0 24px 24px;
}
.testimonial .testimonial__items .testimonial__item img {
  width: 42px;
  height: 34px;
  margin-bottom: 24px;
}
.testimonial .testimonial__items .testimonial__item h4 {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.0025em;
  color: #1F2744;
  padding-bottom: 16px;
  width: 90%;
}
.testimonial .testimonial__items .testimonial__item p {
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #1F2744;
  padding-bottom: 24px;
  padding-right: 10px;
}
.testimonial .testimonial__items .testimonial__item .peopel {
  display: flex;
}
.testimonial .testimonial__items .testimonial__item .peopel .img__wrap {
  border-radius: 10em;
  margin-right: 14px;
}
.testimonial .testimonial__items .testimonial__item .peopel .img__wrap img {
  width: 48px;
  height: 48px;
}
.testimonial .testimonial__items .testimonial__item .peopel .text .name {
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #0B2E29;
}
.testimonial .testimonial__items .testimonial__item .peopel .text .proff {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #767676;
  padding-left: 3px;
}

.footer {
  padding: 75px 0 100px 0;
  display: flex;
}
.footer .container {
  display: flex;
}
.footer .container .left {
  width: 40%;
}
.footer .container .left .logo {
  padding-bottom: 16px;
}
.footer .container .left p {
  padding-bottom: 24px;
  width: 75%;
}
.footer .container .left label {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #0B2E29;
}
.footer .container .left .form {
  display: flex;
  margin-top: 16px;
}
.footer .container .left .form input {
  width: 250px;
  border: none;
  outline: none;
}
.footer .container .left .form input::-moz-placeholder {
  padding: 8px 16px;
}
.footer .container .left .form input::placeholder {
  padding: 8px 16px;
}
.footer .container .left .form .button {
  padding: 8px 24px;
  cursor: pointer;
}
.footer .container .right {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.footer .container .right ul li {
  list-style: none;
  padding-bottom: 16px;
}
.footer .container .right ul li a {
  color: #575757;
}
.footer .container .right ul li.li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #0B2E29;
  text-align: left;
}
.footer .container .right p {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #0B2E29;
}
.footer .container .right .social .soc__wrap {
  display: flex;
  justify-content: space-around;
}
.footer .container .right .social .soc__wrap img {
  margin-top: 16px;
  width: 40px;
  height: 40px;
}

.modal__container, .modal__container-reg {
  text-align: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.modal__container.active, .active.modal__container-reg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fffff73;
}
.modal__container .modal, .modal__container-reg .modal {
  border-radius: 20px;
  padding: 20px;
  min-width: 500px;
  min-height: 500px;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 50px 10px black;
}
.modal__container .modal h2, .modal__container-reg .modal h2 {
  margin: 30px 0;
}
.modal__container .modal form, .modal__container-reg .modal form {
  display: flex;
  flex-direction: column;
}
.modal__container .modal form input, .modal__container-reg .modal form input {
  width: 70%;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.modal__container .modal form input::-moz-placeholder, .modal__container-reg .modal form input::-moz-placeholder {
  padding-left: 10px;
}
.modal__container .modal form input::placeholder, .modal__container-reg .modal form input::placeholder {
  padding-left: 10px;
}
.modal__container .modal form input[type=submit], .modal__container-reg .modal form input[type=submit] {
  font-weight: 700;
  font-size: 18px;
  height: 50px;
}/*# sourceMappingURL=style.css.map */